.main-home-container {
  color: white;
  display: flex;
  flex-direction: column;
}

.first {
  min-height: 30vh;
  width: 100%;
}

.first img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.first h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 7rem;
  line-height: 4.5rem;
  letter-spacing: -3px;
}

.first button {
  background-color: rgb(11, 196, 67);
  padding: 9px 30px 9px 30px;
  border-radius: 10px;
  margin-top: 2rem;
}

.first-div {
  position: absolute;
  top: 37%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: left;
  color: white;
}

.second {
  background-color: #000;
}

.second h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 7rem;
}

.second-card {
  background-color: white;
  color: black;
  width: 100%;
  padding: 0 15px 0 15px;
  border-radius: 30px;
}

.second-card-comment {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  color: rgba(0, 0, 0, 0.88);
  overflow: visible;
  justify-content: left;
}

.second-card-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 15px;
}

.second-card-bottom h3 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
}

.second-card-bottom p {
  font-size: 13px;
}

.second-card-bottom img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.third h1 {
  text-align: center;
}

.third h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 4rem;
}

.third h1 span {
  font-weight: 600;
}

.third-input-container {
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  border-radius: 30px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.third-input-container input {
  padding: 15px;
  width: 100%;
  outline: none;
  border-radius: 30px;
  padding-left: 30px;
}

.third-input-container h2 {
  padding: 13px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 3px;
  border-radius: 30px;
  background-color: #8a60f6;
  cursor: pointer;
  color: white;
}

.third-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.third-card {
  border: 1px solid #b0afaf;
  padding: 10px;
  text-align: left;
  width: 30%;
  border-radius: 12px;
  padding-left: 20px;
}

.third-card-head {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
}

.third-card-bottom {
  color: hsla(0, 0%, 100%, 0.59);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.third-text {
  text-align: center;
  font-size: 1.2rem;
}

.second-grid {
  width: 100%;
  margin-top: 3rem;
  overflow: hidden;
}

.slider2 {
  display: flex;
  gap: 1rem;
  animation: slide 18s linear infinite;
}

.slide2 {
  max-width: 30%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

.fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: hsla(0,0%,100%,.14);
    max-width: 37.75rem;
    margin: auto;
    padding:4px 40px 4px 4px;
    border-radius: 70px;
    margin-top: 9rem;
}

.fourth h1{
    font-weight: 700;
    font-size: 1.5rem;
}

.fourth h2{
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #fff;
    color:rgba(0, 0, 0, 0.88);
    padding:10px;
    border-radius: 3px;
    margin-left: 2rem;
    cursor: pointer;
}

.fourth p{
    font-weight: 400;
    font-size: 1rem;
}

/* Mobile Displays */

@media screen and (max-width: 768px) {
  .first h1 {
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .first-div {
    position: absolute;
    left: 50%;
    width: 100%;
  }

  .vertical-line {
    margin: auto;
  }

  .main-home-container {
    padding-bottom: 2rem;
  }

  .third h1 {
    font-size: 2.1rem;
  }

  .third-text {
    font-size: 1rem;
  }

  .third-input-container {
    width: 95%;
  }

  .third-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  .third-card {
    margin: auto;
    width: 95%;
  }

  .second h1 {
    font-size: 2.1rem;
  }

  .second-grid {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .second-card {
    width: 95%;
    margin: auto;
  }

  .slide2 {
    max-width: 90vw;
  }

  .slider2 {
    display: flex;
    gap: 1rem;
    width: 500%;
    animation: slide 15s linear infinite;
  }

  .fourth{
    display:none;
  }
}
