.main-home-container{
    color:white;
    display: flex;
    flex-direction: column;
    gap:4rem;
}

.first{
    min-height:30vh;
    width:100%;
}

.first img{
    width:100%;
    object-fit: cover;
    height:100vh;
}

.first h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 7rem;
    line-height: 4.5rem;
    letter-spacing: -3px;
}

.first button{
    background-color: rgb(11, 196, 67);
    padding: 9px 30px 9px 30px;
    border-radius: 10px;
    margin-top: 2rem;
}

.second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap:4rem;
    height:70vh;
}

.home-image2{
    display: flex;
    width:30rem;
}

.second-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.second img {
    border-radius: 30px;
    top:50%;
}

.third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap:4rem;
    height:70vh;
}

.third img {
    border-radius: 30px;
    top:50%;
}

.first-div{
    position: absolute;
    top: 37%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    text-align: left;
    color: white;
}



/* Mobile Displays */

@media screen and (max-width:768px){
    .first h1{
        font-size: 3rem;
        line-height: 3.7rem;
    }

    .first-div{
        position: absolute;
        left: 50%;
        width:100%;
    }

    .second{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap:2rem;
    }

    .second-div{
        width:90%;
        display: flex;
        text-align: center;
    }

    .vertical-line{
        margin: auto;
    }

    .home-image2{
        width:20rem;
    }

    .third{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 7rem;
        gap:2rem;
    }

    .main-home-container{
        padding-bottom: 2rem;
    }
}