.event-parties-container{
  color:white;
  margin-top: 3rem;
}

.event-parties-heading{
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 2rem;
}

.event-parties-grid {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto; /* Enable horizontal scroll */
  flex-wrap: nowrap; /* Prevent wrapping onto multiple lines */
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .event-parties-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}