.event-parties-container{
  color:white;
  margin-top: 3rem;
}

.event-parties-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 1rem 0 1rem;
}

.event-parties-heading h2{
  font-size: 1.3rem;
}

.event-parties-heading p{
  font-size: 1rem;
  color:rgb(11, 196, 67);
  cursor:pointer;
}

.event-parties-grid {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  flex-wrap: nowrap; 
  gap: 1rem;
}

.map-modal{
  position: relative;
  top: 44%;
  left: 48%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
  border-radius: 8px;
  outline: none;
  width: 95%;
  height: 75%;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .event-parties-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .event-parties-heading h2{
    font-size: 1rem;
  }

  .event-parties-heading p{
    font-size: 1rem;
  }
}