.main-signup-div{
    display: flex;
    width: 100%;
}

.signup-img-div{
    height:100%;
    width:50%;
    overflow: hidden;
    background-color: rgb(11, 196, 67);
}

.signup-img-div img{
    height: 100vh;
    object-fit: cover;
    margin: auto;
}

.signup-form-div{
    width:50%;
}

.names-input{
    display: flex;
    gap:1rem;
    width:100%;
}

.names-input input{
    width:50%;
}

.signup-btn{
    background-color: rgb(11, 196, 67);
}

.signup-btn:hover{
    background-color : rgb(11, 196, 67);
}

.login-option p span{
    color:rgb(11, 196, 67);
}

.otp-container{
    display: flex;
    margin-bottom: 10px;
    gap:1rem;
    justify-content: center;
}

.login-form-div .otp-digit-input{
    border-bottom: 2px solid rgb(11, 196, 67);
    border-radius: 0;
    width:40px;
    background-color: black;
    text-align: center;
    font-size: 20px;
}


@media only screen and (max-width:768px){
    .signup-img-div{
        display: none;
    }

    .signup-form-div{
        width:100%;
        padding:2rem;
        /* margin-top: 5rem; */
    }
}