.main-chat-page{
    display: flex;
    width: 100%;
    background-color: rgb(15, 15, 15);
    justify-content: space-between;
    background-image: url('../images/chat-image.png');
    /* background-image: url('../images/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e7.png'); */
}

.roulette{
    width:55%;
}

.roulette-header-img img{
    width:60px;
    height:60px;
    border-radius: 60px;
}

.roulette-header {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 10px;
    background-color: rgb(26,26,26);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:1rem;
    height:18vh;
}
.roulette-header h1{
    color:white;
    font-size: 2rem;
    font-weight: bold;
}

.roulette-header p{
    color:rgb(104, 104, 104);
    font-size: 13px;
}

.your-groups-container{
    width:25%;
}

.right-most-container{
    width:20%;
}

.input-bar {
    display: flex;
    align-items: center;
    gap:0.2rem;
    /* padding-top:10px; */
    width:95%;
    height:10vh;
    margin: auto;
}

.input-bar button i{
    padding:12px;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.input-bar input {
    width:100%;
    padding:10px;
    padding-left: 20px;
    padding-right:20px;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    outline:none;
    color:white;
}

.chat-container {
    overflow-y: auto;
    flex :1;
    height:72vh;
    padding:10px;
}

.dots{
    display: none;
}

/* Hide the default scrollbar */
.chat-container {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
  
    /* Hide Chrome scrollbar */
    ::-webkit-scrollbar {
      width: 6px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  
  /* Style the custom scrollbar */
  .chat-container::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
  }
  
  .chat-container::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners of the thumb */
  }
  
  .chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Hover color of the thumb */
  }
  

  @media screen and (max-width:768px){

    .main-chat-page{
        /* display: block; */
        margin: auto;
    }
    .your-groups-container{
        display: none;
    }

    .roulette{
        width:100vw;
        height:100vh;
    }

    .fa-paper-plane{
        margin-left: 2rem;
    }

    .roulette-header h1{
        font-size: 1.3rem;
    }

    .roulette-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top:1rem;
        height:14vh;
    }

    .dots{
        display: block;
        color:white;
        font-size: 1.5rem;
        margin-right: 2rem;
    }

    .right-most-container{
        min-width:100vw;
    }

    .chat-container{
        height:76vh;
    }
  }