.card{
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor:pointer;
  border-radius: 10px;
  position:relative;
  border: 1px solid #292929;
}

.card:hover {
  transform: scale(1.05);
}

.card-image-container{
  height:100%;
  width:100%;
}

.card-image-container img{
  height:250px;
  width:250px;
  object-fit: cover;
  border-radius: 10px;
}

.card-name{
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -2px;
  line-height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content{
  position: absolute;
  width:100%;
  top:60%;
  text-align: left;
  padding:10px;
  flex-wrap: nowrap;
}

.card-description{
  padding-top:4px;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width:768px){

  .card {
    width: calc(50% - 0.5rem);
    height:13rem;
  }

  .card-content .card-name{
    font-size: 1.8rem;
    letter-spacing: -2px;
  }
  .card-content .card-description{
    font-size: 10px;
  }

  .card-image-container img{
    height:100%;
    width:100%;
  }
} 