.group-info-container{
    background-color: rgb(26, 26, 26);
    height: 100vh;
    padding:20px;
    color:white;
    text-align: center;
    overflow-y: scroll;
}

.desc-container{
    margin-top: 2rem;
    font-size: 14px;
}

.desc-container p 
{
    text-align: left;
    margin-top: .7rem;
}

.fa-xmark{
  display:none;
}

.delete-btn{
  width:100%;
  background-color: rgb(207, 2, 2);
  padding:10px;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 1rem;
}

.delete-btn:hover{
  background-color: red;
}

.group-info-container {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
  
    /* Hide Chrome scrollbar */
    ::-webkit-scrollbar {
      width: 6px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  
  /* Style the custom scrollbar */
  .group-info-container::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
  }
  
  .group-info-container::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners of the thumb */
  }
  
  .group-info-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Hover color of the thumb */
  }
  

  @media screen and (max-width:768px){
    .fa-xmark{
      display:block;
      margin-bottom: 1rem;
    }
  }