.main-imagecard-div{
  height:16rem;
  display: flex;
  align-items: center;
  background-color: white;
  overflow: hidden;
}

.main-image{
    cursor:pointer;
    width: 100%;
  height: 100%;
  object-fit: contain; 
}

.main-image:hover{
    opacity:0.5;
}

.modal-content{
    display:flex;
    gap:1rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color:white;
    border-radius: 8px;
    outline:none;
    width:70%;
  }

  .modal-content .modal-image{
    width:50%;
    height:500px;
  }

  .modal-image img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-info{
    display: flex;
    align-items: center;
    gap:0.7rem;
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
  }

  .profile-info img{
    height:45px;
    width:45px;
    border-radius: 50%;
  }

  .modal-info{
    width:50%;
    font-size: 14px;
  }

  @media only screen and (max-width:768px){
    .main-imagecard-div{
      height:9rem;
    }

    .profile-work-images-main-modal{
      width:90%;
    }

    .profile-work-images-modal{
      display: flex;
      gap:0;
      flex-direction: column;
    }

    .profile-work-images-modal .modal-image{
      width:100%;
      height:300px;
    }

    .profile-work-images-modal .modal-info{
      width:100%;
      font-size: 12px;
      padding:10px;
    }
  }