.message-box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 10px;
    padding:5px;
    padding-bottom: 10px;
}

.message-box-container:hover{
    background-color:rgb(71, 71, 71);
    border-radius: 5px;
    cursor:pointer;
}

.message-box-container img{
    border-radius: 50%;
    height:60px;
    width:60px;
}

.content{
    display: flex;
    text-align: left;
    margin-left: .5rem;
    flex-direction: column;
    justify-content: center;
}

.content p {
    font-size: 13px;
    color:rgb(145, 145, 145);
}

.timing{
    display: flex;
    font-size: 12px;
    color: rgb(145, 145, 145);
    flex-direction: column;
    display: table-column-group;
}

.lastmsg{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
}