.receive-box{
    display: flex;
    flex-direction: row;
    margin-bottom: .1rem;
    gap:.6rem;
    clear: both;
    width:90%;
}

.receive-box img{
    height:32px;
    width:32px;
    border-radius: 60px;
}

.receive-box .texts{
    display:flex;
    color:white;
    flex-direction: column;
}

.texts .msg{
    background-color: rgb(26,26,26);
    padding:7px;
    color:white;
    font-size: 14px;
    border-radius: 0 5px 5px 5px;
}

.message-box{
    display: flex;
    flex-direction: row;
    margin-bottom: .1rem;
    gap:.6rem;
    float:right;
    clear:both;
    width:80%;
}

.message-box img{
    height:32px;
    width:32px;
    border-radius: 60px;
}

.message-box .texts{
    display:flex;
    color:white;
    flex-direction: column;
    
}

.message-box .texts .msg{
    background-color: rgb(23, 153, 66);
    padding:7px;
    color:white;
    font-size: 14px;
    border-radius: 5px 0 5px 5px;
}

.message-box .texts .you-label{
    text-align: left;
}

.user-label,.you-label{
    color:rgb(148, 148, 148);
    font-weight: bold;
    font-size: 12px;
}

.phone-label{
    font-size: 10px;
}

.msg-time{
    
    color:rgb(194, 194, 194);
    font-size: 11px;
}

@media screen and (max-width:768px){
    .message-box{
        margin-bottom: 0.5rem;
        margin-top: 0;
        width:80%;
    }

    .receive-box{
        margin-bottom: 0.5rem;
        margin-top: 0;
        width:80%;
    }
}