.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  background-color: black;
  color: white;
  position: sticky;
  gap:6rem;
  top: 0;
  z-index: 1;
}

.site-logo {
  display: flex;
  align-items: center;
  height: 70px;
  width: 10rem;
}

.main-search-container{
    position: relative;
    width:100%;
    display: flex;
    gap:2rem;
    align-items: center;
}

.main-search-container input{
    background-color: #1b1b1b;
    width: 50%;
    outline:none;
    font-size: 14px;
    padding:10px;
    border-radius: 5px;

}

.suggestions-list {
    font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top:100%;
  position: absolute;
  width:30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #1b1b1b;
  z-index: 1;
}

.suggestions-list li {
  padding: 5px;
  border-bottom: 1px solid rgb(31, 31, 31);
  border-radius: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #2e2e2e;
}

.nav-buttons{
    background-color: rgb(11, 196, 67);
    padding: 10px;
    width:20%;
    font-size: 14px;
    border-radius: 5px;
}

.set-location-loader{
  display: flex;
  gap:1rem;
  justify-content: center;
}

.mobile-buttons{
  display: none;
}


@media only screen and (max-width:768px){
  .navbar{
    display: flex;
    gap:1rem;
    padding:0;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 0;
  }

  .site-logo{
    height:80px;
    width:80px;
  }

  .main-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap:.2rem;
  }
  
  .main-search-container input{
    font-size: 12px;
    width:100%;
    margin-top: -17px;
  }

  .nav-buttons{
    width:50%;
    font-size: 10px;
    display: none;
  }

  .mobile-buttons{
    display: flex;
    justify-content: center;
    gap:1rem;
    width:100%;
  }

  .nav-buttons2{
    background-color: rgb(11, 196, 67);
    color:white;
    padding: 7px;
    width:20%;
    font-size: 10px;
    border-radius: 5px;
    width:40%;
  }

  .suggestions-list{
    width:100%;
  }
}