.notification-panel{
    position: absolute;
    margin-top:0.5rem;
    padding:10px;
    border-radius: 10px;
    margin-left: -10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.notification-panel ul li{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 14px;
    cursor:pointer;
    padding-bottom: 0.4rem;
}

.notification-panel ul li i{
    color:gold;
}