.requirements-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap:1rem;
  justify-content: center;
  margin-top: 1rem;
}

.service-form textarea{
  padding:10px;
  font-size: 14px;
}

.cancellation-div{
  display: flex;
  gap:1rem;
}

.cancellation-div input{
  background-color: #1b1b1b;
}

.add-services-button{
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.available-inside{
  display:flex;
  align-items: center;
  gap:1rem;
}

.require-modal input, .require-modal select{
  background-color: #1b1b1b;
  padding:10px;
  border-radius: 5px;
  outline:none;
  font-size: 14px;
}

.modal-heading{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding:10px;
}

.add-service-modal{
  width:70%;
  height:70%;
  overflow-y: scroll;
  scrollbar-width: none;
  border: 1px solid rgb(75, 74, 74);
}

.service-form-input{
  width:97%;
}

.price-input{
  width:100%;
}

.service-form{
  display: flex;
  width:100%;
  flex-direction: column;
  gap:1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.service-button-modal{
  margin-bottom:1rem;
}

.main-services-grid{
  display: flex;
  flex-direction: row;
  gap:1rem;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width:768px){
  .require-modal{
    width:95%;
  }

  .add-services-button{
    width:70%;
    font-size: 12px;
  }
}