.main-requirement-card{
  color:#fff;
  background-color: #1b1b1b;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding:20px;
  width:60%;
  gap:3rem;
  font-size: 14px;
  border-radius: 5px;
}

.fa-circle-minus{
  position: absolute;
  right:-.4rem;
  color:red;
  cursor: pointer;
  top:-.4rem;
  font-size: 1.3rem;
}

.fa-circle-minus:hover{
  color:rgb(153, 1, 1);
}

.requirement-card-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.requirement-heading{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cancellation-heading{
  color:green;
  margin-bottom: .3rem;
}

.price-tag{
  margin-bottom: .5rem;
}

.price-heading{
  color:gold;
  font-size: 1.5rem;
  font-weight: bold;
}

.tax-para{
  color:#838383
}


@media only screen and (max-width:768px){
  .main-requirement-card{
    width:95%;
  }

  .cancellation-heading, .valid-heading, .tax-para{
    font-size: 12px;
  }

  .requirement-heading{
    font-size: 22px;
  }
}