.find-events-container{
    padding-bottom: 2rem;
}

.find-events-container h1{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom:2rem;
    margin-left: 5rem;
    text-align: left;
}

.find-events-container h1::selection{
    background-color: rgb(11, 196, 67);
}

.find-events-container .dist{
    border-bottom: 1px solid rgb(11, 196, 67);
}

.room-search{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
}

.radius-search-bar{
    width:35%;
    padding: 10px 10px 10px 20px;
    background-color: black;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 30px;
}

.search-button{
    background-color: rgb(11, 196, 67);
    width:10%;
    border-radius: 30px;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    margin-top: 2rem;
    padding: 10px 2rem 10px 2rem;
    margin: auto;
    width:94%;
  }
  
  @media (max-width: 768px) {
    .event-cards {
      grid-template-columns: repeat(2, 1fr); /* Two cards per row on mobile devices */
    }

    .find-events-container h1{
        text-align: center;
        margin:0;
        margin-top: 4rem;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .room-search{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .radius-search-bar{
        width:90%;
    }

    .search-button{
        width:30%;
        padding:10px;
    }
  }
  