.third-container h1{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom:2rem;
    margin-left: 5rem;
    text-align: left;
}

.third-container{
    padding-bottom: 2rem;
}

.event-cards{
    padding:10px;
}

@media screen and (max-width:768px) {
    .third-container h1{
        margin:0;
        text-align: center;
        margin-top: 2rem;
    }

    .your-events-title{
        font-size: 1.3rem;
    }
}