@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: black;
  font-family: 'Inter';
}

body {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
  
    /* Hide Chrome scrollbar */
    ::-webkit-scrollbar {
      width: 6px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  
  /* Style the custom scrollbar */
  body::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners of the thumb */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Hover color of the thumb */
  }
  

.leaflet-container{
    height: 70vh;
    width: 85vw;
    border-radius: 10px;
    margin: auto;
    z-index: 0;
}

@media screen and (max-width:768px) {
  .leaflet-container{
    height:30vh;
  }
}